<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is home page</h1>
    <h2><%= message %></h2>
    <h2><%= title %></h2>
    <img src="/img/image.webp" alt="logo" />
  </body>
</html>
